server:
  port: 7200

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/oauth2db
    username: 
    password:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database: org.hibernate.dialect.MySQL8Dialect

security:
  oauth2:
    client:
      client-id: test-client-2
      client-secret: test-secret-2
      scope:
        - read
        - write
    resource:
      id: test-resource-2